@import '../../styles/variables.scss';

.root {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.welcome {
  font-size: 50px;
  color: $white;
}

.gamify {
  font-size: 100px;
  color: $white;
}

.formContainer {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    width: 560px;
    border-radius: 49px;
    background-color: $white;
  }
}

.difficultyContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 176px;
    width: 190px;
    border-radius: 20px;
    background-color: $white;
    color: $black;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 20px;
    }

    &.selected {
      background-color: $deep-cove;
      color: $white;
    }

    span {
      margin-top: 10px;
    }
  }
}

.btn {
  margin-top: 40px;
  margin-bottom: 40px;
}
