@import '../../styles/variables.scss';

.btn {
  cursor: pointer;
  padding: 12px 22px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.primary {
  background-color: $blue;
  color: $white;
}

.danger {
  background: linear-gradient(145.36deg, $maroon-flush 0%, $chestnut-rose 100%);
  color: $white;
}

.success {
  background: linear-gradient(309.85deg, $lima 0%, $vida-loca 100%);
  color: $white;
}

.default {
  background-color: $white;
  border: 1px solid $pale-sky;
}

.bg {
  height: 55px;
  width: 106px;
  border-radius: 49px;
  background: linear-gradient(145.36deg, $maroon-flush 0%, $chestnut-rose 100%);
  box-shadow: 0 20px 34px 0 $prussian-blue;
}

.lg {
  width: 500px;
  height: 80px;
  font-size: 25px;
  border-radius: 50px;
}

.md {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
}

.sm {
  width: 100px;
  height: 50px;
  font-size: 15px;
  border-radius: 50px;
}

.xs {
  width: 50px;
  height: 25px;
  font-size: 10px;
  border-radius: 50px;
}
