// Colors
$black: #000000;
$blue: blue;
$white: #ffffff;
$success: #a2bc9d;
$error: #ff6e6e;

// Forms
$form-label-size: 11px;
$form-input-size: 14px;

$form-text-small: 12px;
$form-text-large: 14px;

$form-label-margin: 24px;
$form-input-margin: 8px 0;

$form-input-padding: 16px 20px 16px 20px;
$form-input-icon-right: 16px 63px 16px 16px;
$form-input-icon-left: 16px 32px 16px 50px;
$form-emphasis-padding: 28px 25px 27px;

$form-input-radius: 3px;

$form-input-state: #8a8a8a;

// fonts
$verdana: Verdana, Geneva, Tahoma, sans-serif;
$helvetica: Arial, Helvetica, sans-serif;
