@import '../../styles/variables.scss';

.primary {
  background-color: $blue;
  color: white;
}

.danger {
  background: linear-gradient(145.36deg, #b81553 0%, #cf4c4c 100%);
  color: white;
  text-decoration: none;
}

.success {
  background: linear-gradient(309.85deg, #7ab01c 0%, #429321 100%);
  color: white;
  text-decoration: none;
}

.default {
  background-color: white;
  border: 1px solid #6c757d;
  color: black;
}

.lg {
  width: 500px;
  height: 80px;
  font-size: 25px;
  border-radius: 50px;
}

.md {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 50px;
}

.sm {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 50px;
}

.xs {
  width: 50px;
  height: 25px;
  font-size: 20px;
  border-radius: 50px;
}
