@import '../../styles/variables.scss';

.modalTitle {
  margin: 0;
}

.playButton {
  position: absolute;
  bottom: -40px;
  box-shadow: 0 20px 34px 0 $prussian-blue;
  font-size: 25px;
  line-height: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
