@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic, 700italic, 400, 700');
@import '../../styles/variables.scss';

body {
  padding: 0;
  margin: 0;
  overflow: scroll;
  font-family: $muli;
  font-weight: normal;
  font-size: 16px;
}

.bg {
  background-image: url('../../assets/images/bg-card-pattern.png'),
    linear-gradient(134.28deg, $tory-blue 0%, $indigo 100%);
  color: $white;
  height: 100vh;
  width: 100%;
  font-size: 25px;
}
